*{
	margin: 0;
	padding: 0;
}

#logo a {
	text-decoration: none;
	font-size: 26px;
    color: white;

}


#logo p {

    font-size: 16px;


}

#logo {
    margin-left: 200px;
    color: white;
    font-weight: bold;
}

nav > ul > li > a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color:white;


}

nav li {
    list-style: none;
    float: left;
    margin-right: 30px;
    margin-top: -20px;
}
nav {
    margin-left: 200px;
    float: right;
    color: white;
}
header {
    background-color: #2DC66D;
}

header > section {
   font-family: "Courier New", Courier, monospace;
   font-weight: 100;
   color: white;
}

.ph1 {
    font-size: 36px;
}

.bold {
    font-weight: bold;
}

.headerimg {
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 30px;
}

header section p {
    margin: 10px 0px 10px 200px;
    width: 454px;
}

#download1 {
    margin: 50px 30px 0px 200px;
    padding-bottom: 50px;
}

.store {
    margin-right: 30px;
    height: 38px;
}

#functions {
    width: 454px;
    margin-left: 200px;
}

#phone {
    float: left;
}
#phone p {
    float: right;
}

.ph2 {
    margin: 10px;
    font-size: 36px;
}