@import url("https://fonts.googleapis.com/css?family=Muli|Sonsie+One&display=swap");
:root {
  font-family: "Muli", sans-serif;
}

html {
  scroll-behavior: smooth;
}

div,
p,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
footer,
main {
  margin: 0;
  padding: 0;
}

html body p {
  margin: 0;
  line-height: 1.2em;
}

ul {
  margin-bottom: 0;
}

header .banner {
  margin-top: -18px;
}

header .header-bg,
main .main-bg,
footer .footer-bg {
  max-width: 960px;
  margin: auto;
}

header nav #logo {
  text-align: center;
}

header nav #logo a {
  text-decoration: none;
  font-size: 26px;
  font-family: "Sonsie One", cursive;
  color: white;
}

header nav #logo #about {
  font-size: 0.7rem;
}

header nav {
  background-color: #2ecc71;
}

header nav .menu {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

header nav .menu li {
  list-style-type: none;
}

header nav .menu li a {
  text-decoration: none;
  color: white;
  border: 2px solid transparent;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 5px;
  margin: 0 10px 0 10px;
}

header nav .menu .get-app-li a {
  text-decoration: none;
  color: #2ecc71;
  font-weight: bold;
  background-color: white;
  border: 2px solid white;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 5px;
  margin: 0 10px 0 10px;
}

header nav .menu li a:hover {
  border: 2px solid white;
}
header nav .menu .get-app-li a:hover {
  background-color: transparent;
  color: white;
}

@media (min-width: 600px) {
  header nav #logo {
    margin-left: 30px;
    margin-top: 10px;
    text-align: left;
  }
  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header nav .menu {
    margin-right: 30px;
    margin-top: 20px;
  }
}

header .banner {
  display: flex;
  min-height: 466px;
  background-color: #2ecc71;
  flex-direction: column;
  justify-content: center;
}

header .banner p {
  color: white;
  align-items: center;
}

header .banner #headerimg {
  width: 72px;
  margin-bottom: 50px;
  align-self: center;
}

header .banner .ph1 {
  font-size: 2.5rem;
}
header .banner .banner-text {
  text-align: center;
}
header .banner .banner-text .bold {
  font-weight: bold;
}

header .banner .download-bn {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

@media (min-width: 672px) {
  header .banner #headerimg {
    align-self: flex-start;
  }
  header .banner .banner-text {
    text-align: left;
    width: 400px;
  }
  header .banner {
    background-image: url(../img/header.png);
    background-position: center;
    background-size: cover;
  }
  header .banner .download-bn {
    justify-content: flex-start;
    margin-top: 30px;
  }
  header .banner .download-bn a {
    margin-left: 10px;
  }
  header .banner {
    padding-left: 30px;
  }
}

main .phone img {
  width: 310px;
}

main .phone .phone-text .ph2 {
  font-size: 2.5rem;
}

main .phone .phone-text p {
  text-align: center;
}

.green {
  color: #2ecc71;
}

main .phone {
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 766px) {
  main .phone {
    justify-content: space-around;
  }
  main .phone .phone-text {
    align-self: center;
    order: 1;
  }
  main .phone .phone-text p {
    text-align: right;
  }
  main .phone img {
    order: 0;
  }
}

.know {
  display: flex;
  background-image: url(../img/know.png);
  background-size: 980px 441px;
  scale: 0.5;
  background-position: center;
  justify-content: center;
  height: 441px;
}

.know p {
  text-align: center;
}

.know .know-text {
  margin: 10px 10px 0px 10px;
  max-width: 440px;
}

.know .ph2 {
  font-size: 2rem;
}

@media (min-width: 450px) {
  .know .know-text {
    margin-top: 40px;
  }
}

.example {
  margin: 70px 0 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example img {
  width: 320px;
}

.example .ph2 {
  font-size: 2rem;
}
.example p {
  text-align: center;
}

.example .example-text {
  margin: 10px 0px 10px 0px;
  max-width: 360px;
}

@media (min-width: 766px) {
  .example {
    flex-direction: row;
    justify-content: space-around;
  }
  .example p {
    text-align: left;
  }
  .example img {
    height: 300px;
    width: auto;
  }
  .example-text {
    margin: 0 0 0 0;
  }
}

footer .footer-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #2ecc71;
  min-height: 215px;
  background-size: cover;
  background-position: center;
}

.footer-div .ph1 {
  font-size: 2rem;
}
.footer-div p {
  text-align: center;
  color: white;
}

.footer-div .bold {
  font-weight: bold;
}

.footer-div .footer-text {
  max-width: 545px;
}

@media (min-width: 732px) {
  .footer-div {
    background-image: url(../img/download.png);
    background-repeat: no-repeat;
  }
}

.footer-div a {
  text-decoration: none;
  color: #2ecc71;
  font-weight: bold;
  background-color: white;
  border: 2px solid white;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 5px;
  margin: 0 10px 0 10px;
  font-size: 1.5rem;
}

.footer-div a:hover {
  background-color: transparent;
  text-decoration: none;
  color: white;
}
